@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@media only screen and (min-width: 1200px) {
  body {
    font-size: 100%;
  }
}

@media only screen and (min-width: 2048px) {
  body {
    max-width: 2048px;
    font-size: 250%;
  }
}

body {
    background-color: black;
  }
  
h1 {
    color: white;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
