body {
    background-color: black;
    max-width: 2048px;
  }
  
h1 {
    color: white;
    text-align: center;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
