body {
    background-color: black;
    max-width: 2048px;
  }
  
h1 {
    color: white;
    text-align: center;
    font: Arcade, "Courier New", Courier, monospace;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@font-face {
    font-family: Arcade;
    src: url("ARCADE_N.TTF") format('truetype');
    font-weight: bold;
    font-style: normal;
}
